*{
  @include settingGeneral;
}

body{
  
  .loader-container{
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
    background-color: $white-color;
    opacity: 0.9;
    animation: disappear 3.5s forwards; 
    -moz-animation: disappear 3.5s forwards; 
    -webkit-animation: disappear 3.5s forwards; 
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width:768px) and (max-width:1024px){
      width: 100%;
      display: flex;

    }
   
    

    .loader{
      @include flexColumn;
      overflow: hidden;
      justify-content: center;
      height: 100vh;
      @media (min-width:768px) and (max-width:1024px){
        width: 76%;
      }
      

      &__txt{
        font-size: 14px;
        background-color: $purple-color;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
     

        @media (min-width:768px) and (max-width:1024px){
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
         
        }

        @media (min-width:1025px){
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
      }

      &__animation{ 
        width:100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        height: 3%;
        
     
        @media (min-width:768px) and (max-width:1024px){
          border-radius: 90%;
          // height: 25px;
          height: 3%;
         
        }   

        @media (min-width:1025px){
            height: 3%;
            
        }

        @for $i from 1 through $num-points {
          &--point:nth-child(#{$i}) {
            width: 7%;
            border-radius: 50%;
            animation: points $anim-dur 3;
            -moz-animation: points $anim-dur 3;
            -webkit-animation: points $anim-dur 3;
            // animation-iteration-count:3;
            animation-delay: $anim-delay * $i;
            -moz-animation-delay: $anim-delay * $i;
            -webkit-animation-delay: $anim-delay * $i;
          } 
            &--green{
                background-color:$light-green-color;
            }
            &--pink{
              background-color: $pink-color;
            }
            &--purple{
              background-color:$purple-color;
            }
        }
      }
    }
  }  
    .headers{
      @include header; 
      
    }
      
    aside{
      .localisation{
        background-color:$grey-color;
        box-shadow: $aside-shadow;
        text-align: center;
        padding-left: 50px;
        height: 50px;
          
        &__icon{
          margin-top: 15px;
        }      
        &__input::placeholder{
          color: $black-color;
          font-size: 16px;
          font-weight: 500;
        } 
        &__input:placeholder-shown{
          background-color:$grey-color;
          border: $grey-color solid 1px;  
          padding-left: 5px;
        }
      }

      .presentation{
        background-color: #f3f3f3;
        margin-top: 5px;
        height: 250px;  

        @media (min-width:768px) and (max-width:1024px){
          height: 190px;
        }

        @media (min-width:1025px){
          height: 228px;
        }
            
        &__title{
          width: 73%;
          font-size: 24px;
          text-align: center;
          padding-top: 25px;
          margin: auto; 

          @media (min-width:1025px){
            font-size: 40px;
          }
        }

        &__txt{
          width: 89%;
          font-size: 16px;
          font-weight: 300;
          text-align: center;
          margin: 10px auto;

          @media (min-width:1025px){
            font-size: 18px;
          }
        }

        &__link{
          width: 218px;
          margin: 25px auto;
          padding-top: 14px;
          @include btn;    

          &:hover{
            @include btn-effect;    
          }
            &--color{
              color: $white-color;
            }
        }  
      }
    }  
    
      .stage{
        margin-left: 20px;
        padding-top: 40px;
 
        @media (min-width:768px) and (max-width:1024px){
          margin:auto;
          width: 94%;
        } 

        @media (min-width:1025px){
          padding: 50px 100px 50px 100px;
          margin: 0;
        }
      
        &__title{
          font-size: 24px;  

          @media (min-width:1025px){
            margin-left: 59px;
            padding-bottom: 10px;  
          }
        }

        .stepOrder{
          width: 100%;
          @include flexColumn;

          @media (min-width:768px) and (max-width:1024px){
            @include flexRowGap;
          } 

          @media (min-width:1025px){
            width: 89%;;
            @include flexRowGap;
            margin: auto;
          }  

          .step{
            display: flex;
            background-color: $light-grey-color;
            margin-top: 20px;
            border-radius: 20px;
            width: 96%;
            height: 70px;
            box-shadow: $stepDishes-shadow;

            @media (min-width:768px) and (max-width:1024px){
              width: 50%;
            }

            @media (min-width:1025px){
              width: 35%;
              gap: 20px;
            }

            &__number{
              background-color: #9356DC;
              border-radius: 20px;
              width: 20px;
              color: #ffffff;
              text-align: center;
              margin-left: -9px;
              padding-top: 3px;
              height: 22px;
              position: relative;
              top: 25px;
              font-size: 14px;
            }

            &__icons{
              margin: auto;
              color: #7e7e7e;

              @media (min-width:1025px){
                margin: 25px 5px;
              }
            }

              &__icons--purple{
                color: $purple-color;
              }

            &__txt{
              margin: auto;
              font-weight: 500;
              font-size: 16px;
              margin-left: -5px;

              @media (min-width:768px) and (max-width:1024px){
                font-size: 14px;
              }
            }
          }
        }
      }

    .restoSection{
      background-color:#f3f3f3 ;
      margin-top: 60px;
      
      @media (min-width:1025px){
        padding: 30px 170px 20px 170px;
        margin: auto;
      }

      &__title{
        font-size: 24px;
        padding-top: 30px;
        margin-left: 20px;

        @media (min-width:768px) and (max-width:1024px){
          margin-left: 25px;;
        }

        @media (min-width:1025px){
          padding: 0;
          margin-left: 0;
        }
      }

      &__container{
        @include flexColumn;
        align-items: center;
        gap: 18px;
        padding:20px 0 50px 0;
        

        @media (min-width:768px) and (max-width:1024px){
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          gap: 30px;
        }

        @media (min-width:1025px){
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          gap: 50px;
        }

        .restoCards{
          position: relative;
          width: 90%;
          background-color: $white-color;
          border-radius: 15px;
          height: 210px;

          @media (min-width:768px) and (max-width:1024px){
            width: 43%;
          }

          @media (min-width:1025px){
            width: 45%;
            height: 214px;
          }

          &__photo{
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
          }
          &__badge{
            position: absolute;
            inset: 5% 0 0 73%;
            background-color:$light-green-color;
            color: $dark-green-color;
            border-radius: 2px;
            width: 23%;
            height: 25px;
            font-size: 12px;
            text-align: center;
            font-weight: 500 ;
            padding-top: 5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

            @media (min-width:1025px){
            font-size: 14px;
            }
          }

          .cardsContent{
            @include flexRowGap;
            width: 78%;
            
            &__txt{
              width: 78%;
              line-height: 15px;
              padding-top: 2px;
            }  
              &__name{
                font-size: 18px;
                margin: 10px;
            }

              &__subtitle{
                margin: 10px;

                @media (min-width:1025px){
                font-size: 18px;
                font-weight: 300;
                }
              }
          }  

          .heart{
            position: relative;
            left: 87%;
            bottom: 23%;

            .heart__empty{
              @include favorite-effect;   
            }

            .heart__full{
            @include favorite-full;
            }  
          }  
        }
      }
    }

  .footer{
    @include footer;
  }
}