@charset "UTF-8";
/****loader animation***/
/**********shadow ensemble du site*********************/
/***********polices ensemble du site***************/
/*************colors ensemble du site***************/
/************************parametrage ensemble du site******************************************/
/****************************************hearts animation (ensemble du site)********************************************/
/****************************buttons(ensemble du site)***********************************/
/**********************************************index agencement flex**********************/
/********************************************footer agencement (ensemble du site)*****************************/
/**loader qui disparait a la fin du chargement de la page**/
@keyframes disappear {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
/** points du loader qui grossit et degrossit**/
@keyframes points {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/********menu apparait en decalé*****/
@keyframes apparear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/****footer***/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
* a {
  color: inherit;
}

body .body-container {
  background-color: #f6f6f6;
}
body .body-container .header {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
body .body-container .header__logo {
  width: 60%;
  font-size: 30px;
  margin: auto;
  text-align: center;
  font-family: "shrikhand", sans-serif;
}
body .body-container .header__arrow {
  position: relative;
  top: 17px;
  left: 17px;
  font-size: 25px;
}
body .body-container .header__logo {
  width: 60%;
  font-size: 30px;
  margin: auto;
  text-align: center;
  font-family: "shrikhand", sans-serif;
}
body .body-container .photoResto__picture {
  width: 100%;
  height: 213px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .photoResto__picture {
    height: 383px;
  }
}
@media (min-width: 1025px) {
  body .body-container .photoResto__picture {
    height: 383px;
  }
}
body .body-container .main__container {
  position: relative;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container {
    margin: -5px 0 -90px 0;
    background-color: #ffffff;
    position: inherit;
  }
}
@media (min-width: 1025px) {
  body .body-container .main__container {
    margin-top: -5px;
    background-color: #ffffff;
    margin-bottom: -90px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content {
    width: 80%;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    padding: 10px 50px 5px 50px;
    position: relative;
    top: -90px;
    margin: auto;
  }
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content {
    width: 73%;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    padding: 10px 50px 40px 50px;
    position: relative;
    top: -45px;
    margin: auto;
    margin-bottom: 10px;
  }
}
body .body-container .main__container .menu__content .menuHeader {
  display: flex;
  width: 90%;
  padding: 30px 0 20px 5px;
  align-items: center;
  margin-left: 10px;
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content .menuHeader {
    width: 60%;
    margin: auto;
  }
}
body .body-container .main__container .menu__content .menuHeader__title {
  font-size: 24px;
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
  width: 83%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content .menuHeader__title {
    font-size: 26px;
    width: 100%;
    padding-left: 30px;
  }
}
body .body-container .main__container .menu__content .menuHeader .heartContainer {
  position: relative;
  left: 28px;
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content .menuHeader .heartContainer {
    margin: 3px;
  }
}
body .body-container .main__container .menu__content .menuHeader .heartContainer .heart__empty:hover + .heart__full {
  filter: opacity(100);
  transform: scale(1);
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content .menuHeader .heartContainer .heart__empty:active + .heart__full {
    filter: opacity(100);
    transform: scale(1);
  }
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content .menuHeader .heartContainer .heart__empty:hover + .heart__full {
    filter: opacity(100);
    transform: scale(1);
  }
}
body .body-container .main__container .menu__content .menuHeader .heartContainer .heart__full {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition-property: transform 4.5s;
  -moz-transition-property: transform 4.5s;
  -webkit-transition-property: transform 4.5s;
  transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -webkit-transition-duration: 1000ms;
  filter: opacity(0);
  position: relative;
  left: -26px;
  transform: scale(0.1);
}
body .body-container .main__container .menu__content .dishesContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 30px;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: apparear 5s forwards;
  -moz-animation: apparear 5s forwards;
  -webkit-animation: apparear 5s forwards;
  opacity: 0;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection:nth-child(1) {
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection:nth-child(2) {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection:nth-child(3) {
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection__step {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 -6px 10px;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection__line {
  border-bottom: #99E2D0 solid 3px;
  width: 40px;
  margin-left: 10px;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent {
  display: flex;
  padding: 0 10px 0 10px;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos {
  background-color: #ffffff;
  width: 100%;
  border-radius: 15px;
  height: 69px;
  line-height: 23px;
  padding: 11px;
  transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  z-index: 1;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos .dishesNames {
  width: 82%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos .dishesNames__title {
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos .dishesNames__title {
    font-size: 18px;
  }
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos .dishesDetails {
  display: flex;
  justify-content: space-between;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos .dishesDetails__subtitle {
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos .dishesDetails__subtitle {
    font-size: 16px;
    font-weight: 300;
  }
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos .dishesDetails__price {
  font-size: 14px;
  font-weight: 700;
  height: 19px;
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos:hover {
  width: 83%;
  border-radius: 15px 0 0 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos:hover {
    width: 85%;
  }
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .dishesInfos:hover {
    width: 91%;
  }
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .checkbox {
  background-color: #99E2D0;
  width: 17%;
  border-radius: 0 20px 20px 0;
  height: 69px;
  z-index: 0;
  position: absolute;
  right: 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .checkbox {
    right: 10%;
  }
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .checkbox {
    right: 60px;
  }
}
body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .checkbox .fa-circle-check::before {
  color: #ffffff;
  position: absolute;
  right: 30%;
  top: 34%;
  font-size: 26px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .checkbox .fa-circle-check::before {
    left: 50%;
    top: 31%;
  }
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content .dishesContainer .dishesSection .menuContent .checkbox .fa-circle-check::before {
    right: 14%;
    font-size: 28px;
  }
}
body .body-container .main__container .menu__content .dishesContainer .btn-order {
  text-align: center;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 500;
  height: 50px;
  font-size: 16px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: font-size 0.8s 100ms;
  -moz-transition: font-size 0.8s 100ms;
  -webkit-transition: font-size 0.8s 100ms;
  width: 49%;
  margin: auto;
  border: none;
}
body .body-container .main__container .menu__content .dishesContainer .btn-order:hover {
  opacity: 0.85;
  box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.3);
  font-size: 16.5px;
}
@media (min-width: 1025px) {
  body .body-container .main__container .menu__content .dishesContainer .btn-order {
    font-size: 16px;
    width: 30%;
  }
}
body .body-container .footer {
  background-color: #353535;
  font-size: 14px;
  padding: 22px 25px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 114px;
  }
}
@media (min-width: 1025px) {
  body .body-container .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 60px;
    height: 114px;
    position: relative;
    z-index: 0;
  }
}
body .body-container .footer__logo {
  font-family: "shrikhand", sans-serif;
  color: #ffffff;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .footer__logo {
    padding-bottom: 0;
  }
}
@media (min-width: 1025px) {
  body .body-container .footer__logo {
    padding: 0;
  }
}
body .body-container .footer .footerLinks {
  line-height: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .footer .footerLinks {
    display: flex;
    gap: 15px;
    width: 73%;
  }
}
@media (min-width: 1025px) {
  body .body-container .footer .footerLinks {
    display: flex;
    gap: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .footer .footerLinks .linksContainer {
    display: flex;
    gap: 15px;
  }
}
@media (min-width: 1025px) {
  body .body-container .footer .footerLinks .linksContainer {
    display: flex;
    gap: 15px;
  }
}
body .body-container .footer .footerLinks .linksContainer__link {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .body-container .footer .footerLinks .linksContainer__link {
    font-size: 14px;
    gap: 7px;
  }
}
@media (min-width: 1025px) {
  body .body-container .footer .footerLinks .linksContainer__link {
    gap: 10px;
  }
}

/*# sourceMappingURL=menus.css.map */