@charset "UTF-8";
/****loader animation***/
/**********shadow ensemble du site*********************/
/***********polices ensemble du site***************/
/*************colors ensemble du site***************/
/************************parametrage ensemble du site******************************************/
/****************************************hearts animation (ensemble du site)********************************************/
/****loader animation*******/
/****************************buttons(ensemble du site)***********************************/
/**********************************************index agencement flex**********************/
/********************************************footer agencement (ensemble du site)*****************************/
/*********************************base-menu***********************************************/
/**loader qui disparait a la fin du chargement de la page**/
@keyframes disappear {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
/** points du loader qui grossit et degrossit**/
@keyframes points {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/********menu apparait en decalé*****/
@keyframes apparear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/****footer***/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
* a {
  color: inherit;
}

body .loader-container {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.9;
  animation: disappear 3.5s forwards;
}
body .loader-container .loader {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  height: 100vh;
}
body .loader-container .loader__txt {
  font-size: 16px;
  background-color: #9356DC;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .loader-container .loader__txt {
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  body .loader-container .loader__txt {
    font-size: 25px;
  }
}
body .loader-container .loader__animation {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  height: 5%;
  right: 19%;
  top: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .loader-container .loader__animation {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  body .loader-container .loader__animation {
    width: 33%;
  }
}
body .loader-container .loader__animation--point:nth-child(1) {
  width: 6%;
  border-radius: 25px;
  animation: points 3s 3;
  animation-delay: 1s;
}
body .loader-container .loader__animation--green {
  background-color: #99E2D0;
}
body .loader-container .loader__animation--pink {
  background-color: #FF79DA;
}
body .loader-container .loader__animation--purple {
  background-color: #9356DC;
}
body .loader-container .loader__animation--point:nth-child(2) {
  width: 6%;
  border-radius: 25px;
  animation: points 3s 3;
  animation-delay: 2s;
}
body .loader-container .loader__animation--green {
  background-color: #99E2D0;
}
body .loader-container .loader__animation--pink {
  background-color: #FF79DA;
}
body .loader-container .loader__animation--purple {
  background-color: #9356DC;
}
body .loader-container .loader__animation--point:nth-child(3) {
  width: 6%;
  border-radius: 25px;
  animation: points 3s 3;
  animation-delay: 3s;
}
body .loader-container .loader__animation--green {
  background-color: #99E2D0;
}
body .loader-container .loader__animation--pink {
  background-color: #FF79DA;
}
body .loader-container .loader__animation--purple {
  background-color: #9356DC;
}
body .headers {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
body .headers__logo {
  width: 60%;
  font-size: 30px;
  margin: auto;
  text-align: center;
  font-family: "shrikhand", sans-serif;
}
body aside .localisation {
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-left: 50px;
  height: 50px;
}
body aside .localisation__icon {
  margin-top: 15px;
}
body aside .localisation__input::-moz-placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}
body aside .localisation__input::placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}
body aside .localisation__input:-moz-placeholder-shown {
  background-color: #EAEAEA;
  border: #EAEAEA solid 1px;
  padding-left: 5px;
}
body aside .localisation__input:placeholder-shown {
  background-color: #EAEAEA;
  border: #EAEAEA solid 1px;
  padding-left: 5px;
}
body aside .presentation {
  background-color: #f3f3f3;
  margin-top: 5px;
  height: 250px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body aside .presentation {
    height: 190px;
  }
}
@media (min-width: 1025px) {
  body aside .presentation {
    height: 228px;
  }
}
body aside .presentation__title {
  width: 73%;
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
  margin: auto;
}
@media (min-width: 1025px) {
  body aside .presentation__title {
    font-size: 40px;
  }
}
body aside .presentation__txt {
  width: 89%;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 10px auto;
}
@media (min-width: 1025px) {
  body aside .presentation__txt {
    font-size: 18px;
  }
}
body aside .presentation__link {
  width: 218px;
  margin: 25px auto;
  padding-top: 14px;
  text-align: center;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 500;
  height: 50px;
  font-size: 16px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: font-size 0.8s 100ms;
}
body aside .presentation__link:hover {
  opacity: 0.85;
  box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.3);
  font-size: 16.5px;
}
body aside .presentation__link--color {
  color: #ffffff;
}
body .stage {
  margin-left: 20px;
  padding-top: 40px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .stage {
    margin: auto;
    width: 94%;
  }
}
@media (min-width: 1025px) {
  body .stage {
    padding: 50px 100px 50px 100px;
    margin: 0;
  }
}
body .stage__title {
  font-size: 24px;
}
@media (min-width: 1025px) {
  body .stage__title {
    margin-left: 59px;
    padding-bottom: 10px;
  }
}
body .stage .stepOrder {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .stage .stepOrder {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 1025px) {
  body .stage .stepOrder {
    width: 89%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: auto;
  }
}
body .stage .stepOrder .step {
  display: flex;
  background-color: #f6f6f6;
  margin-top: 20px;
  border-radius: 20px;
  width: 96%;
  height: 70px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .stage .stepOrder .step {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  body .stage .stepOrder .step {
    width: 35%;
    gap: 20px;
  }
}
body .stage .stepOrder .step__number {
  background-color: #9356DC;
  border-radius: 20px;
  width: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: -9px;
  padding-top: 3px;
  height: 22px;
  position: relative;
  top: 25px;
  font-size: 14px;
}
body .stage .stepOrder .step__icons {
  margin: auto;
  color: #7e7e7e;
}
@media (min-width: 1025px) {
  body .stage .stepOrder .step__icons {
    margin: 25px 5px;
  }
}
body .stage .stepOrder .step__icons--purple {
  color: #9356DC;
}
body .stage .stepOrder .step__txt {
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  margin-left: -5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .stage .stepOrder .step__txt {
    font-size: 14px;
  }
}
body .restoSection {
  background-color: #f3f3f3;
  margin-top: 60px;
}
@media (min-width: 1025px) {
  body .restoSection {
    padding: 30px 170px 20px 170px;
    margin: auto;
  }
}
body .restoSection__title {
  font-size: 24px;
  padding-top: 30px;
  margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .restoSection__title {
    margin-left: 25px;
  }
}
@media (min-width: 1025px) {
  body .restoSection__title {
    padding: 0;
    margin-left: 0;
  }
}
body .restoSection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 20px 0 50px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .restoSection__container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
}
@media (min-width: 1025px) {
  body .restoSection__container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
body .restoSection__container .restoCards {
  position: relative;
  width: 90%;
  background-color: #ffffff;
  border-radius: 15px;
  height: 210px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .restoSection__container .restoCards {
    width: 43%;
  }
}
@media (min-width: 1025px) {
  body .restoSection__container .restoCards {
    width: 45%;
    height: 214px;
  }
}
body .restoSection__container .restoCards__photo {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
body .restoSection__container .restoCards__badge {
  position: absolute;
  inset: 5% 0 0 73%;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  width: 23%;
  height: 25px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding-top: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 1025px) {
  body .restoSection__container .restoCards__badge {
    font-size: 14px;
  }
}
body .restoSection__container .restoCards .cardsContent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 78%;
}
body .restoSection__container .restoCards .cardsContent__txt {
  width: 78%;
  line-height: 15px;
  padding-top: 2px;
}
body .restoSection__container .restoCards .cardsContent__name {
  font-size: 18px;
  margin: 10px;
}
body .restoSection__container .restoCards .cardsContent__subtitle {
  margin: 10px;
}
@media (min-width: 1025px) {
  body .restoSection__container .restoCards .cardsContent__subtitle {
    font-size: 18px;
    font-weight: 300;
  }
}
body .restoSection__container .restoCards .heart {
  position: relative;
  left: 87%;
  bottom: 23%;
}
body .restoSection__container .restoCards .heart .heart__empty:hover + .heart__full {
  filter: opacity(100);
  transform: scale(1);
}
body .restoSection__container .restoCards .heart .heart__full {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition-property: transform 4.5s;
  transition-duration: 1000ms;
  filter: opacity(0);
  position: relative;
  left: -26px;
  transform: scale(0.1);
}
body .footer {
  background-color: #353535;
  font-size: 14px;
  padding: 22px 25px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 114px;
  }
}
@media (min-width: 1025px) {
  body .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 60px;
    height: 114px;
    position: relative;
    z-index: 0;
  }
}
body .footer__logo {
  font-family: "shrikhand", sans-serif;
  color: #ffffff;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .footer__logo {
    padding-bottom: 0;
  }
}
@media (min-width: 1025px) {
  body .footer__logo {
    padding: 0;
  }
}
body .footer .footerLinks {
  line-height: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .footer .footerLinks {
    display: flex;
    gap: 15px;
    width: 73%;
  }
}
@media (min-width: 1025px) {
  body .footer .footerLinks {
    display: flex;
    gap: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .footer .footerLinks .linksContainer {
    display: flex;
    gap: 15px;
  }
}
@media (min-width: 1025px) {
  body .footer .footerLinks .linksContainer {
    display: flex;
    gap: 15px;
  }
}
body .footer .footerLinks .linksContainer__link {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .footer .footerLinks .linksContainer__link {
    font-size: 14px;
    gap: 7px;
  }
}
@media (min-width: 1025px) {
  body .footer .footerLinks .linksContainer__link {
    gap: 10px;
  }
}

/**************General************/
/*************btn*******************/
/********heart-favorite**********/
/*flex**/
/**mixin footer**/
/***loader animation**/
/*****flex column****/
/*********/
/*# sourceMappingURL=style.css.map */